<ion-view title="Friends">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="field in fields" type="item-text-wrap">
        <p><span class="fieldname" ng-bind="field"> <span class="fieldvalue" ng-bind="contact[field]"></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
