<ion-view title="Home">
  <ion-content class="padding">
    <h1>Tap! <span ng-bind="tcReadyMessage" class="tc-status-message"></span></h1>

    <div class="card" ng-click="goToAccount()">
      <div class="item item-avatar">
        <img ng-if="owner.image" ng-src="{{owner.image}}" class="tc-avatar" />
        <p ng-bind="owner.first_name || 'First name not set'" ng-class="{unset: !owner.email}"></p>
        <p ng-if="owner.last_name" ng-bind="owner.last_name"></p>
        <p ng-bind="owner.telephone"></p>
        <p ng-bind="owner.email || 'Email not set'" ng-class="{unset: !owner.email}"></p>
        <p ng-if="owner.company" ng-bind="owner.company"></p>
      </div>
    </div>

    <div ng-if="newContacts.length">
      <h4>Tapped this session..</h4>
      <div class="list card">
        <div ng-repeat="contact in newContacts" class="item item-avatar">
          <img ng-if="contact.image" ng-src="{{contact.image}}" />
          <h2 ng-bind="contact.telephone"></h2>
          <p ng-bind="contact.first_name + ' ' + contact.last_name"></p>
        <div>
      </div>
    </div>

    <!-- <button class="button button-block button-calm" ng-click="shareContact()">Share Contact Details</button> -->
  </ion-content>
</ion-view>
