<ion-view title="Edit Details">
  <ion-content class="padding">
    <h1>Edit Details</h1>
    <img ng-if="owner.image" ng-src="{{owner.image}}" />
    <button type="button" class="button button-energized" ng-click="choosePictureSource()" ng-bind="!owner.image ? 'Add Picture' : 'Change Picture'"></button>
    <form ng-submit="save(owner)" class="list">
        <label class="item item-input">
            <input type="text" ng-model="owner.first_name" placeholder="Tap here to add your first name" />
        </label>
        <label class="item item-input">
            <input type="text" ng-model="owner.last_name" placeholder="Tap here to add your last name" />
        </label>        
        <label class="item item-input">
            <input type="tel" ng-model="owner.telephone" placeholder="Tap here to add your phone numer" />
        </label>
        <label class="item item-input">
            <input type="email" ng-model="owner.email" placeholder="Tap here to add your email address" />
        </label>
        <br />
        <button class="button button-block button-positive" type="submit" >Save</button>
    </form>
  </ion-content>
</ion-view>