/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

$light: #fff;
$dark: #292C44;
$positive: #18CDCA;
$assertive: lighten(#FF5349, 7%);
$calm: lighten(#4F80E1, 2%);
$energized: #F25252;
$balanced: #4881F2;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

span.tc-status-message.ng-binding {
  color: #E0E0E0;
}

.card {
  .item.item-avatar {
    img.tc-avatar {
      width: 100px;
      height: auto;
      max-width: 40px;
      max-height: 100px;
    }
  }
}